.card {
    padding: 48px 25px 31px;
    gap: 36px;

    > .card_header {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-bottom: 10px;
    }
}

#checking_account_text {
    margin-top: 4px;
}