
.sign_popup {
  position: absolute;
  max-width: 818px;
  min-width: 361px;
  padding: 44px 16px 64px 16px;
  border-radius: 20px;
  background-color: #ffffff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;

  > .main {
    display: flex;
    width: 90%;
    margin: auto;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    > .remove {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: end;
      cursor: pointer;

      > img {
        width: 43px;
        height: 40px;
      }
    }

    > .content_container {
      width: 70%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      .sign_success {
        width: 225px;
        height: 224px;
        margin-top: -33px;
      }

      .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        margin-top: -28px;

        h1 {
          color: var(--Neutral-color-1200, #313437);
          text-align: center;
          font-family: "Clash Display";
          font-size: 40px;
          font-style: normal;
          font-weight: 600;
          line-height: 49.2px;
          margin-bottom: 0;
        }

        .message_content {
          color: var(--Neutral-color-1000, #495057);
          text-align: center;
          font-family: "Poppins";
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          margin-bottom: 32px;
        }
        .gomail {
          display: flex;
          width: 100%;
          padding: 8px 12px;
          justify-content: center;
          align-items: center;
          gap: 12px;
          border-radius: 12px;
          background: #1a1c21;
          color: #fff;
          font-family: "Poppins";
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
          cursor: pointer;
          border: none;
        }
      }
    }
  }
}

.opened_popup {
  animation: OpenPopup ease-in-out 0.2s;
}

@keyframes OpenPopup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 651px) {
  .sign_popup .main {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .sign_popup .main .content_container {
    width: 50%;
  }

  .sign_popup .main .animated_image {
    width: 50%;
  }
}

@media (max-width: 1340px) {
  #head_text {
    font-size: 28px;
  }
  #description {
    font-size: 16px;
  }
  #content_container {
    width: 100%;
  }
}
