.card {
    padding: 24px 25px;
    gap: 60px;

    > .card_header {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    > .button_container {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
}