* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  ========= Custom Button Styles =========  */

.white-button {
  background-color: #fff;
  color: #1a1c21;
}

.black-button {
  background-color: #1a1c21;
  color: #fff;
}

/*  ========= Custom Button Styles =========  */

.no-scroll {
  overflow: hidden;
}

/*  ========= Onboard pages main containers ========= */

.onboard-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.card-container {
  min-width: 608px;
  border-radius: 32px;
  border: 1px solid #dee2e6;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 20px 24px -4px rgba(118, 118, 118, 0.08),
    0px 8px 8px -4px rgba(35, 35, 35, 0.03);
}

.head-text {
  font-family: "Clash Display";
  text-align: center;
  font-size: 34px;
  font-weight: 600;
  line-height: 44px;
  color: #000;
}

.paragraph {
  font-family: "Poppins";
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #495057;
}

.page-gif {
  width: 100%;
  max-width: 708px;
  max-height: 677px;
  overflow: hidden;

  > img {
    width: 100%;
  }
}

.blur-div {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #313437;
  opacity: 0.4;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checking_account_text {
  margin-top: 60px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 20px;
  color: #313437;

  > span {
      color: #563AFF;
      font-weight: 600;
  }
}

@media (max-width: 1340px) {
  .onboard-container {
    flex-direction: column-reverse;
  }
}

@media (max-width: 650px) {
  .head-text {
    font-size: 28px;
  }
  .page-gif {
    display: none;
  }

  .card-container {
    width: 100%;
    min-width: unset;
    border-radius: 0;
    border: 1px solid #fff;
    box-shadow: none;
  }
}
